
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.base{background-color: black;
    border-radius: 8px;
    border: 4px solid white;
    width: 200px;
    height: 500px;
    position: absolute;
    margin-left: 40rem;
    margin-top: 5rem;}

.luzRoja{
    background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-block: 30px;
    transition: .3s;
}

.luzAmarilla{
    background: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-block: 30px;
    transition: .3s;
}

.luzVerde{
    background: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-block: 30px;
    transition: .3s;
}

.encendida {
    transition: .3s;
    box-shadow: 0 5px 50px white ;
}